<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css'>
    <link rel="stylesheet" href="../css/design.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body><a href="../../index.html"><img id="logo" src="../images/logopersoblue.svg" alt=""> </a>

    <a href="./programmer.html" class="link">
        <svg viewBox='0 0 200 200' width='200' height='200' xmlns='http://www.w3.org/2000/svg' class="link__svg"
            aria-labelledby="link1-title link1-desc">
            <title id="link1-title">code code code code</title>
            <desc id="link1-desc">A rotating link with text placed around a circle with an arrow inside</desc>

            <path id="link-circle" class="link__path" d="M 20, 100 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0"
                stroke="none" fill="none" />

            <path class="link__arrow" d="M 75 100 L 125 100 L 110 85 M 125 100 L 110 115" fill="none" />

            <text class="link__text">
                <textPath href="#link-circle" stroke="none">
                    code code code code code
                </textPath>
            </text>
        </svg>
    </a>
    <!-- gallery -->
    <div class="container">

        <div class="mySwiper">
            <div class="main-wrapper swiper-wrapper">
                <div class="main swiper-slide" id="beach">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.Illustrator</h3>
                            <h1 class="main-title">Baobab Yoni Spa </h1>
                            <h2 class="main-subtitle"> fini </h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title"> Le spa au feminin</div>
                            <div class="main-content__subtitle">ma cliente a un institut situe en afrique et exclusivement feminin </div>
                                </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <img class="bottle-bg" src="../images/bgDesign.png" alt="">
                            <img class="bottle-img" src="../images/design/yoni spa.png" />
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="savanna">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.Illustrator</h3>
                            <h1 class="main-title">Carte de Vacances I3 </h1>
                            <h2 class="main-subtitle">Fini</h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title"> Bonnes vacances  a interface 3
                            </div>
                            <div class="main-content__subtitle">nous avions comme consigne de cree une carte de vacances representative d'interface 3</div>
                        
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <img class="bottle-bg" src="../images/designbg.png" alt="">
                            <img class="bottle-img" src="../images/design/carte_de_vacance.png" />
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="glacier">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.Illustrator</h3>
                            <h1 class="main-title">Olati Couture</h1>
                            <h2 class="main-subtitle">En cours</h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">passion couture </div>
                            <div class="main-content__subtitle">Ma cliente souhaite un logo epure et qui reflete sa minutie et son savoir faire.</div>
                            
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <img class="bottle-bg" src="../images/bgDesign.png" alt="">
                            <img class="bottle-img" src="../images/design/olati.png" />
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="coral">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.Animate</h3>
                            <h1 class="main-title">Publicite Scarlet</h1>
                            <h2 class="main-subtitle">Fini</h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title"> ma version
                            </div>
                            <div class="main-content__subtitle">l' objectif etait de recreer la thematique de la marque Scralet.</div>
                            <div class="more-menu">
                                <a href="../views/pub.html">
                                    <p>Voir plus...</p>
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7"
                                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <line x1="-5" y1="12" x2="19" y2="12" />
                                    <line x1="15" y1="16" x2="19" y2="12" />
                                    <line x1="15" y1="8" x2="19" y2="12" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <img class="bottle-bg" src="../images/designbg.png" alt="">
                            <img class="bottle-img" src="../images/design/scarlet.png" />
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="coral">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.Animate</h3>
                            <h1 class="main-title">Texte Libre</h1>
                            <h2 class="main-subtitle">Fini</h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">
                            </div>
                            <div class="main-content__subtitle">texte libre avec un masque </div>
                            <div class="more-menu">
                                <a href="../views/textEssaie.html">
                                    <p>Voir plus...</p>
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7"
                                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <line x1="-5" y1="12" x2="19" y2="12" />
                                    <line x1="15" y1="16" x2="19" y2="12" />
                                    <line x1="15" y1="8" x2="19" y2="12" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <img class="bottle-bg" src="../images/bgDesign.png" alt="">
                            <img class="bottle-img" src="../images/design/front.png" />
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="coral">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.XD</h3>
                            <h1 class="main-title">WIB</h1>
                            <h2 class="main-subtitle">Fini</h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">Walk in Brussels.
                            </div>
                            <div class="main-content__subtitle">Dans le cadre de ma formation nous avons du effectuer un projet de groupe</div>
                           
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <img class="bottle-bg" src="../images/bgDesign.png" alt="">
                            <img class="bottle-img" src="../images/design/WiB.png">
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="coral">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.XD</h3>
                            <h1 class="main-title">samaya</h1>
                            <h2 class="main-subtitle">Fini</h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">une Aplication pas comme les autres
                            </div>
                            <div class="main-content__subtitle">Nous avons cree le prototype d une application sujet libre </div>
                            
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <img class="bottle-bg" src="../images/bgDesign.png" alt="">
                            <img class="bottle-img" src="../images/design/samaya.png" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="button-wrapper">
            <div class="swiper-button swiper-prev-button">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2"
                        d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </div>
            <div class="swiper-button swiper-next-button">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2"
                        d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    
    <script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>
    <script src="../scripts/scriptGallery.js"></script>

</body>

</html>