<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
     <link rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css'><link rel="stylesheet" href="../css/code.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../assets/images/icon.png">
    <title>Portfolio Boruchowitch Jennifer</title>
</head>
<body>
    <a href="../../index.html"><img id="logo" src="../images/logopersoorange.svg" alt=""> </a>    
    <a href="./design.html" class="link">
        <svg viewBox='0 0 200 200' width='200' height='200' xmlns='http://www.w3.org/2000/svg' class="link__svg" aria-labelledby="link1-title link1-desc">
            <title id="link1-title">design design design design</title>
            <desc id="link1-desc">A rotating link with text placed around a circle with an arrow inside</desc>
    
            <path id="link-circle" class="link__path" d="M 20, 100 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0" stroke="none" fill="none" />
    
            <path class="link__arrow" d="M 75 100 L 125 100 L 110 85 M 125 100 L 110 115" fill="none" />
    
            <text class="link__text">
                <textPath href="#link-circle" stroke="none">
                   design design design design
                </textPath>
            </text>
        </svg>
    </a>
    <!-- gallery -->
    <div class="container">
	
        <div class="mySwiper">
            <div class="main-wrapper swiper-wrapper">
                <div class="main swiper-slide" id="beach">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.PHP .html .css .javascript</h3>
                            <h1 class="main-title">WIB.</h1>
                            <h2 class="main-subtitle"></h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">Walk in Brussels.</div>
                            <div class="main-content__subtitle">dans ce projet nous avons cree un site avec la structure mvc nous avons aussi pu explorer les requete ajax et une database.  </div>
                           
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <iframe class="iframe-bg" src="../images/video/Walk in Brussels — Mozilla Firefox 2023-01-14 15-17-33.mp4" frameborder="0"></iframe>                       
                            <img class="bottle-img2" src="../images/code/wib.png" />
                            <img class="bottle-img" src="../images/code/wibxd.png" />
                            
                            
                            
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="savanna">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.nodeJs .html .css .javascript</h3>
                            <h1 class="main-title">Dbd.</h1>
                            <h2 class="main-subtitle"></h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">dashboard.
                            </div>
                            <div class="main-content__subtitle">sur ce projet nous avons fait  appel a des librairie (express, fs, domjs) et a des APIs. </div>
                          
                            
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <iframe class="iframe-bg" src="../images/video/agregator 2023-01-15 17-52-09.mp4" frameborder="0"></iframe>                       
                            <img class="bottle-img2" src="../images/code/dashboard.png" />
                            <img class="bottle-img" src="../images/code/dashboardxd.png" />
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="glacier">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.PHP .html .css .javascript</h3>
                            <h1 class="main-title">CDUP.</h1>
                            <h2 class="main-subtitle"></h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">cuddle up.
                            </div>
                            <div class="main-content__subtitle">sur ce projet nous avons pu cree une page de login un formulaire de contact nous avons aussi pu revoir la structure mvc. </div>
                            
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <iframe class="iframe-bg" src="../images/video/CuddleUp — Mozilla Firefox 2023-01-15 19-16-57.mp4" frameborder="0"></iframe>                       
                            <img class="bottle-img2" src="../images/code/cuddleup.png" />
                            <img class="bottle-img" src="../images/code/cuddleUpxd.png" />
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="coral">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.javascript .html .css .php</h3>
                            <h1 class="main-title">DM.</h1>
                            <h2 class="main-subtitle"></h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">Develop Museum.
                            </div>
                            <div class="main-content__subtitle">dans ce projet nous avons du interagir avec la promotion des Game dev et des Web dev nous avons utiliser phaser jquery javascript php </div>
                           
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <iframe class="iframe-bg" src="../images/video/DevelopMuseum - Google Chrome 2023-01-15 22-27-12.mp4" frameborder="0"></iframe>                       
                            <img class="bottle-img2" src="../images/code/devellopMus.png" />
                            <img class="bottle-img" src="../images/code/devellopMusxd.png" />
                        </div>
                    </div>
                </div>
                <div class="main swiper-slide" id="coral">
                    <div class="left-side">
                        <div class="main-wrapper">
                            <h3 class="main-header">.nodeJs .html .css.javascript  </h3>
                            <h1 class="main-title">IMDB.</h1>
                            <h2 class="main-subtitle"></h2>
                        </div>
                        <div class="main-content">
                            <div class="main-content__title">imdb.
                            </div>
                            <div class="main-content__subtitle">dans ce projet nous avons du interagir avec la promotion des Game dev et des Web dev nous avons utiliser phaser jquery javascript php </div>
                           
                        </div>
                    </div>
                    <div class="center">
                        <div class="right-side__img">
                            <iframe class="iframe-bg" src="../images/video/movie list 2023-01-19 13-03-13.mp4" frameborder="0"></iframe>                       
                            <img class="bottle-img2" src="../images/code/movielistxd.jpg" />
                            <img class="bottle-img" src="../images/code/movielist.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <div class="swiper-button swiper-prev-button">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </div>
            <div class="swiper-button swiper-next-button">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script><script src="../scripts/scriptGallery.js"></script>
    
</body>
</html>